
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAAD MULLA</title>
    {% load static %}
    <link href = "{% static '/css/home.css' %}" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body id="color1">
    <div>
    <nav class="navbar navbar-light bg-primary">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">SAAD MULLA</span>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100" id="profile-wrapper">
                    <img id ="profile-pic" src="{% static 'images/1.jpg'%}">
                    <br>
                    <h4>Hi I'm Saad</h4>
                    <p>I love engineering.</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body h-100">
                    <h4>About Me</h4>
                    <br>
                    <p>Hi I am Saad MahamadRiyaj Mulla I am from karad, satara currently i am living Saswad pune and i am pursuing bachloer's degree in ENTC Engineering and currently i am in T.E. I am fond of reading books , playing outdoor sports and spent time with my friends.</p>
                    <ul class="social-links">
                        <li><img class="social" src="{%static 'images/2.jpg'%}"></li>
                        <li><img class="social" src="{%static 'images/3.jpg'%}"></li>
                        <li><img class="social" src="{%static 'images/4.jpg'%}"></li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>My Experience as a Developer</h5>
                    <br>
                    <p>I just recently started learning or practicing Full stack web development and i came to know that its very interesting and i'm performing very well but there is lot to go.I know i need more practice of it. </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>What i know</h5>
                    <p>Python,Django,HTML/CSS,Javascripts and many more which i can't explain in one line.I also know AIML</p>
                </div>
            </div>
        </div>
        <br>
    </div>
    
</body>
</html>